In [13]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

df = pd.read_csv("bleu.csv")
df.head()

    model1   model2
0  0.80152  0.35566
1  0.55152  0.68566
2  0.51152  0.20566
3  0.52152  0.25566
4  0.54152  0.15566

In [4]:
df['difference'] = df["model1"] - df["model2"]
mean_diff = df['difference'].mean()
mean_diff

0.19000000000000003

In [7]:
std_diff = df["difference"].std()
std_diff

0.23026311603296468

In [9]:
se = std_diff / np.sqrt(len(df["difference"]))
se

0.010297679603212614

In [11]:
t_stat = mean_diff / se
t_stat

18.45075855154057

In [12]:
len(df["difference"])

500

In [14]:
ttest_ind(df['model1'], df['model2'])

Ttest_indResult(statistic=18.50659269152126, pvalue=5.731755405134408e-66)